
src/Smalarm/app/src/main/java/com/example/smalarm/ui/alarm/Alarms.java
src/Smalarm/app/src/main/java/com/example/smalarm/ui/alarm/AlarmSet.java
src/Smalarm/app/src/main/java/com/example/smalarm/ui/alarm/Preference.java
